body{
    color: white;
}

.flexbox {
    display: flex;
    justify-content: center;
}
input{
    padding: 15px;
    font-size: medium;
    border-radius: 4px;
    
}
.cb {
    display: inline-flex;
}

label
{
    width: 200px;
    display: inline-block;
}

.button
{
    padding: 5px;
    border-radius: 5px;
}

.button:hover {
    background-color: blue;
    color: white;
}