.container {
	border: 2px solid #008000;
	width: 16.65%;
	margin-right: auto;
	margin-left: auto; 
}

table {
	margin: 1px 2px 2px 2px;
	border-collapse: collapse;
	border: 1px solid #008000;
}

tr, td {
	padding: 2px 2px 2px 3px;
	border: 2px solid #008000;
}

th {
	padding: 2px 3px 1px 2px;
	border: 2px solid white;
	background-color: #008000;
	color: white;
}