body {
	background-color: lightblue;
	margin: 0;
	padding: 0
}
h1{
	margin-top: 0;
	font-size: 50px;
}

h2{
	font-size: 40px;
	text-decoration: line-through;
	text-decoration-thickness: 2px; 
}

h3{
	font-size: 30px;
	text-decoration: underline;
}

h4{
	font-size: 25px;
}